<form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label>
    <span>Full name</span>
    <input type="text" name="name" placeholder="Your full name"  ngModel #userName="ngModel" required minlength="2">
  </label>
  <div *ngIf="userName.errors?.required && userName.touched" class="error">
    Name is required
  </div>
  <div *ngIf="userName.errors?.minlength && userName.touched" class="error">
    Number of 2 characters
  </div>
  
  <div ngModelGroup="account" #userAccount="ngModelGroup">
    <label>
      <span>Email address</span>
      <input type="email" name="email" placeholder="Your email address" ngModel #userEmail="ngModel" required>
    </label>
    <label>
      <span>Confirm address</span>
      <input type="email" name="confirm" placeholder="Confirm your email address" ngModel #userConfirm="ngModel" required>
    </label>
  
    <!-- account: { email, confirm } -->
    <div *ngIf="userEmail.errors?.required && userEmail.touched" class="error">
      Email is required
    </div>
    <div *ngIf="userConfirm.errors?.required && userConfirm.touched" class="error">
      Confirming email is required
    </div>
    
    <div *ngIf="userAccount.invalid && userAccount.touched" class="error">
      Both emails are required
    </div>
  </div>
  
  <button type="submit" [disabled]="f.invalid">Sign up</button>
  
  <br>
  {{ f.controls.name?.errors | json}}
</form>

<br>
{{ user | json }}
<br>
{{ f.value | json }}
